<mat-toolbar id="navbar"color='primary'>
    <a href="/"><img id="topLogo" src="../../assets/topLogo.png" class="nonCopyable"></a>
    
    <!--<input id="search" maxlength="40" type="text">
    <mat-icon id="searchIcon">search</mat-icon>-->
    <mat-form-field id="searchBox">
        <mat-icon id="searchIcon" class="nonCopyable">search</mat-icon>
        <input matInput maxlength="20">
    </mat-form-field>
    <div class='spacer'></div>
    <div class='Linespacer nonCopyable'>|</div>
    <a mat-button style="color: white;" target="_blank" href="https://bans.play-il.co.il/csgo/bans">SOURCEBANS</a>
    <div class='Linespacer nonCopyable'>|</div>
    <a mat-button style="color: white;" target="_blank" href="https://forum.play-il.co.il/node/2775542">FORUM</a>
    <div class='Linespacer nonCopyable'>|</div>
    <a mat-button style="color: white;" target="_blank" href="">RULES</a>
    <div class='Linespacer nonCopyable'>|</div>
    <a mat-button style="color: white;">LATEST GAMES</a>
    <div class='Linespacer nonCopyable'>|</div>
    <a mat-button style="color: white;">LEADERBOARD</a>
    <div class='Linespacer nonCopyable'>|</div>
    <img id="steamLogin" class="nonCopyable" src="../../assets/Steam.png">
</mat-toolbar>

<mat-toolbar id="updatesBar" color='primary'>
    <marquee behavior="scroll" truespeed="true" direction="left" scrolldelay="30" scrollamount="4" width="100%" onmouseover="this.stop()" onmouseout="this.start()" style="color: white;">
        <a style="cursor: pointer;" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">עדכוניםעדכוניםעדכוניםעדכוניםעדכוניםעדכוניםעדכונים</a>
    </marquee>
    <div id="holder">
        <mat-icon id="icon">campaign</mat-icon>
        <a style="color: white;" id="updates">עדכוני הנהלה</a>
    </div>
</mat-toolbar>


