<app-navbar></app-navbar>
<router-outlet></router-outlet>
<main flex layout="column">
  <div>
    <div ui-view="" ></div>
  </div>
</main>

<footer>
<div layout="row" layout-align="center center" flex>
  <a class="nonCopyable">Copyright Ⓒ 2020 Play-IL All Rights Reserved. Designed by Nikky Made by Ryuk</a>
  <a><i class="fab fa-steam fa-2x" id="steamMini"></i></a>
  <a><i class="fab fa-instagram fa-2x" id="instagramMini"></i></a>
  <a><i class="fab fa-youtube fa-2x" id="youtubeMini"></i></a>
  <a><i class="fab fa-twitter-square fa-2x" id="twitterMini"></i></a>
  <a><i class="fab fa-twitch fa-2x" id="twitchMini"></i></a>
  <a><i class="fab fa-facebook-square fa-2x" id="facebookMini"></i></a>
</div>
</footer>
