<app-navbar></app-navbar>

<img id="playLogo" src="../assets/topLogo.png">

<div id="logoHolder">
  <a href="https://discord.gg/UEuTu5Bdpq" target="_blank">
    <img id="discord" src="../assets/discord.png">
  </a>
  <a href="ts3server://ts.play-il.co.il:9601?port=9601&channelID=10" target="_blank">
    <img id="teamspeak" src="../assets/teamspeak.png">
  </a>
  <a href="https://steamcommunity.com/groups/PlayILPICKUP" target="_blank">
    <img id="steamLogo" src="../assets/bigSteam.png">
  </a>
</div>

<div id="topCon">
  <div id="top-1">
    <h1 class="top"><B>Top<br>#1</B></h1>
  </div>
  <img id="avatar1" class="avatar">
  <img id="avatar2" class="avatar">
  <img id="avatar3" class="avatar">
  <div id="top-2">
    <h1 class="top"><B>Top<br>#2</B></h1>
  </div>
  <div id="top-3">
    <h1 class="top"><B>Top<br>#3</B></h1>
  </div>
</div>

<main flex layout="column">
  <div>
    <div ui-view="" ></div>
  </div>
</main>

<footer>
<div layout="row" layout-align="center center" flex>
<a>Copyright Ⓒ 2020 Play-IL All Rights Reserved. Designed by Nikky, Made by Ryuk</a>
<div class="spacer"></div>
</div>
</footer>