<app-navbar></app-navbar>
<img id="playLogo" class="nonCopyable" src="../assets/topLogo.png">
<div id="wrapper">
  <div id="logoHolder">
    <a href="https://discord.gg/UEuTu5Bdpq" target="_blank">
      <img id="discord" class="nonCopyable" src="../assets/discord.png">
    </a>
    <a href="ts3server://ts.play-il.co.il:9601?port=9601&channelID=10" target="_blank">
      <img id="teamspeak" class="nonCopyable" src="../assets/teamspeak.png">
    </a>
    <a href="https://steamcommunity.com/groups/PlayILPICKUP" target="_blank">
      <img id="steamLogo" class="nonCopyable" src="../assets/bigSteam.png">
    </a>
  </div>

  <div id="topCon">
    <div id="top-1" class="topCorner">
      <img id="avatar1" class="avatar nonCopyable">
      <div id="name-1-wrapper"> 
        <h1 class="top nonCopyable"><B>Top<br>#1</B></h1>
      </div>
      <div id="name-wrapper">
          <p id="name-1" class="name">Ryuk</p>
          <p id="rank-1" class="name">Advanced</p>
          <p id="rating-1" class="name">Rating: 1.27</p>
      </div>
    </div>
    <div id="top-2" class="topCorner">
      <img id="avatar2" class="avatar nonCopyable">
      <div id="name-2-wrapper"> 
        <h1 class="top nonCopyable"><B>Top<br>#2</B></h1>
      </div>
      <div id="name-wrapper">
          <p id="name-2" class="name">Ryuk</p>
          <p id="rank-2" class="name">Challenger</p>
          <p id="rating-2" class="name">Rating: 1.31</p>
      </div>
    </div>
    <div id="top-3" class="topCorner">
      <img id="avatar3" class="avatar nonCopyable">
      <div id="name-3-wrapper"> 
        <h1 class="top nonCopyable"><B>Top<br>#1</B></h1>
      </div>
      <div id="name3-wrapper">
          <p id="name-3" class="name">Ryuk</p>
          <p id="rank-3" class="name">Advanced</p>
          <p id="rating-3" class="name">Rating: 1.27</p>
      </div>
    </div>
  </div>

</div>

<main flex layout="column">
  <div>
    <div ui-view="" ></div>
  </div>
</main>

<footer>
<div layout="row" layout-align="center center" flex>
<a>Copyright Ⓒ 2020 Play-IL All Rights Reserved. Designed by Nikky, Made by Ryuk</a>
<div class="spacer"></div>
</div>
</footer>