<div class="container" style="width: 1000px;">
    <img src="../../assets/profilebackground.jpeg" style="width:1000px; height: 295px;">
    <img id="profile-pic">
    <div class="bottom-left-name">Ryuk</div>
    <div class="bottom-left-steam-id">STEAM_0:1:70357581</div>
    <div class="bottom-right nonCopyable">REPORT</div>
</div>

<div id="stats-container">
    <table id="player-stats">
        <tr>
            <th id="rank-ind">RANK</th>
            <th>RATING</th>
            <th>WINRATE%</th>
            <th>RECENT RESULTS</th>
            <th>KDR</th>
            <th>HS%</th>
            <th>ADR</th>
            <th>KPR</th>
            <th>MATCHES</th>
          </tr>
          <tr>
            <td id="data-rank">CHALLENGER</td>
            <td id="data-rating">1.34</td>
            <td id="data-winrate">64%</td>
            <td id="data-recent"><em id="first">W</em><em id="second">W</em><em id="third">W</em><em id="fourth">L</em><em id="fifth">W</em></td>
            <td id="data-kd">1.65</td>
            <td id="data-hsPer">63%</td>
            <td id="data-adr">94.2</td>
            <td id="data-kpr">92.7</td>
            <td id="data-matches">1337</td>
          </tr>
    </table>
</div>

<!--
<div id="stats-container">
    <div id="stats-ind-con">
        <p id="stats-rank-ind" class="stats-ind">RANK</p>
        <p id="stats-rating-ind" class="stats-ind">RATING</p>
        <p id="stats-winrate-ind" class="stats-ind">WIN RATE %</p>
        <p id="stats-recent-ind" class="stats-ind">RECENT RESULTS</p>
        <p id="stats-kdr-ind" class="stats-ind">KDR</p>
        <p id="stats-headshot-ind" class="stats-ind">HS%</p>
        <p id="stats-adr-ind" class="stats-ind">ADR</p>
        <p id="stats-kpr-ind" class="stats-ind">KPR</p>
        <p id="stats-matches-ind" class="stats-ind">MATCHES</p>
    </div>
    <div id="stats">
        <p id="rank" class="stats">CHALLENGER</p>
        <p id="rating" class="stats">1.34</p>
        <p id="winrate" class="stats">71%</p>
        <p id="recent"><em id="first-result">W</em><em id="second-result">W</em><em id="third-result">W</em><em id="fourth-result">L</em><em id="fifth-result">W</em></p>
    </div>
</div>
-->